* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-img {
  width: 100%;
  cursor: pointer;
  transition: 300ms;
}

.card-img:hover {
  scale: 1.05;
}

.movies-container {
  margin: 50px 100px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.pagination button {
  width: 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 50ms;
}

.pagination button:hover {
  scale: 1.15;
}

.pagination button:active {
  scale: 1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 300px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.container {
  width: 65%;
  margin: 60px auto;
}

.movie-page-img {
  width: 100%;
}

.search {
  position: absolute;
  display: block;
  width: 300px;
  right: 0;
  left: 0;
  top: 20px;
  margin: 0 auto;
}

.search input {
  padding: 5px 0;
}
.search button {
  padding: 5px 0;
}

.no-movies-found {
  margin: 300px auto;
  width: 300px;
}
